.parent {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #c2e1fe;
}

.centerIt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSectionHeading-signIn {
    z-index: 10;
    width: 59%;
    height: auto;
    display: flex;
    border-radius: 30px;
    justify-content: center;
}

.aboutSectionContainer {
    width: 600px;
    margin-left: -24px;
    display: inline-block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-content: flex-start;
    background: linear-gradient(to right, #548eff, #8b54ff);
    align-items: center;
    flex-direction: column;
}

.waves {
    z-index: -1;
}

.SeperatingLine-signIn {
    margin-top: 20px;
    width: 85%;
    height: 1px;
    background-color: grey;
    margin-left: auto;
    margin-right: 6%;
    display: block;
}

.aboutSectiondiv {
    background-color: #2758bb;
    width: 50%;
    display: block;
    margin-right: auto;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.signInSectiondiv {
    background-color: #ffffff;
    width: 50%;
    display: block;
    margin-left: auto;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.aboutHeading-signIn {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f6fdff;
    font-weight: bold;
    font-size: 40px;
}
.aboutDescription-signIn {
    color: #f6fdff;
    margin-top: 10px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}
.OwnersSection-signIn {
    width: 310px;
    height: 100px;
    margin-top: 80px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}
.owner-title-signIn {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.ownerSubTitle-signIn {
    margin-top: 5px;
    color: white;
    line-height: 20px;
}
.hand-logo-signIn {
    margin-left: auto;
    margin-top: 2%;
    margin-right: 2%;
}
.LostPetsSection-signIn {
    width: 310px;
    height: 100px;
    margin-left: 70px;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
}
.logoAndsignIn-signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.logo-parent-signIn {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.signInHeading-signIn {
    margin-top: 10px;
    color: #242424;
    font-weight: bolder;
    cursor: default;
    font-size: 30px;
    display: block;
    text-align: center;
}
.email-heading-signIn {
    margin-top: 2%;
    margin-left: 7%;
}
.email-input-signIn {
    margin-left: 8%;
    margin-top: 2%;
    border-radius: 8px;
    width: 85%;
    height: 35px;
    border: 1px solid #707070;
    padding-left: 10px;
}
.email-input-signIn::placeholder {
    transition: color 0.3s ease; /* Add a transition to the color property */
}
.email-input-signIn:focus {
    border: none;
    outline: 1px solid #707070;
}
.email-input-signIn:focus::placeholder {
    color: transparent;
}
.singup-Button-signIn {
    display: block;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
    width: 87%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #2758bb;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.already-acc-signIn {
    text-align: center;
    margin-top: 8px;
}
.link-sign-signIn {
    margin-top: 8px;
    margin-left: 5px;
    color: #154fc3;
    cursor: pointer;
    font-weight: bold;
}
.parent-acc-signIn {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.forgotPass-signIn {
    display: block;
    text-align: end;
    margin-right: 5%;
    margin-top: 10px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #154fc3;
}
@media (max-width: 700px) {
    .aboutSectionHeading-signIn {
        width: 100%;
        margin-top: -10%;
    }
    .owner-title-signIn {
        font-size: 20px;
    }
    .OwnersSection-signIn {
        margin-left: 5%;
        font-size: 15px;
    }
    .hand-logo-signIn {
        display: none;
    }
    .LostPetsSection-signIn {
        display: flex;
        font-size: 15px;
        margin-left: 5%;
    }
    .aboutHeading-signIn {
        font-size: 30px;
    }
    .aboutDescription-signIn {
        font-size: 20px;
    }
}
