
.parent{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: #c2e1fe;
}

.centerIt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.aboutSectionHeading-signIn {
=======
.aboutSectionHeading{
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    z-index: 10;
    background-color: white;
    width: 59%;
    height: 520px;
    display: flex;
    border-radius: 30px;
    justify-content: center;

}

<<<<<<< HEAD
.aboutSectionContainer {
=======
.aboutHeading{
    margin-top: 50px;
    display: block;
    margin-left: 110px;
    color: #f6fdff;
    font-weight: 650;
}

.aboutSectionContainer{
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    width: 600px;
    margin-left: -24px;
    display: inline-block;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    justify-content: flex-start;
    background: linear-gradient(to right, #548eff, #8b54ff);
    align-items: center;
    flex-direction: column;
  
}

<<<<<<< HEAD
.waves {
    z-index: -1;
}

.SeperatingLine-signIn {
    margin-top: 60px;
    width: 380px;
    height: 1px;
    background-color: grey;
    margin-left: auto;
    margin-right: 30px;
    display: block;
}

.aboutSectiondiv {
    background-color: #2758bb;
    width: 50%;
    display: block;
    margin-right: auto;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.signInSectiondiv {
    background-color: #ffffff;
    width: 50%;
    display: block;
    margin-left: auto;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.aboutHeading-signIn {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f6fdff;
    font-weight: bold;
    font-size: 40px;
}
.aboutDescription-signIn {
    color: #f6fdff;
=======
.aboutDescription{
    color:#f6fdff;
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    margin-top: 10px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}
<<<<<<< HEAD
.OwnersSection-signIn {
=======

.OwnersSection{
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    width: 310px;
    height: 100px;
    margin-top: 80px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}
<<<<<<< HEAD
.owner-title-signIn {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.ownerSubTitle-signIn {
    margin-top: 5px;
    color: white;
    line-height: 20px;
}
.hand-logo-signIn {
    margin-left: auto;
    margin-top: 2%;
    margin-right: 2%;
}
.LostPetsSection-signIn {
=======

.HandLogo{
    display: flex;
    margin-left: 100px;
}
.ShareLogo{
    display: flex;
    margin-left: 85px;
}
.LostPetsSection{
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    width: 310px;
    height: 100px;
    margin-left: 70px;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
}
<<<<<<< HEAD
.logoAndsignIn-signIn {
=======
.signUpSectionContainer{
    width: 600px;
    margin-right: -24px;
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
    display: inline-block;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    flex-direction: column;
}
.signUpHeading{
    margin-top: 10px;
    color: #242424;
    font-weight: 790;
    cursor: default;
}
.waves{
    z-index: -1;
}
.logoAndSignUp{
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
<<<<<<< HEAD

.logo-parent-signIn {
=======
.signUpLogo{
    color: black;
    background-color: black;
}
.EmailAndPasswordAndForgotPass{
    width: 100%;
    display: block;
}
.EmailHeading{
    margin-top: 10px;
    margin-left: 30px;

}
.EmailTextField{
    margin-top: 4px;
    border-radius: 300px;
    margin-left: 30px;

}
.PassHeading{
    margin-top: 10px;
    margin-left: 30px;
}
.PassTextField{
    margin-top: 4px;
    border-radius: 300px;
    margin-left: 30px;
}
.ForgotPassHeading{
    display: block;
    color: #2759bc;
    text-decoration: underline;
    float: right;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 40px;
}
.SeperatingLine{
    margin-top: 60px;
    width:380px;
    height: 1px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.DontHaveAnAccountContainer{
    width:380px;
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
<<<<<<< HEAD
.signInHeading-signIn {
    margin-top: 10px;
    color: #242424;
    font-weight: bolder;
    cursor: default;
    font-size: 30px;
    display: block;
    text-align: center;
}
.email-heading-signIn {
    margin-top: 2%;
    margin-left: 7%;
=======
.DontHaveAnAccount{
    font-weight: 700;
}
.SignUp{
    text-decoration: underline;
    color:#2759bc;
    font-weight: 700;
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
}
.email-input-signIn {
    margin-left: 8%;
    margin-top: 2%;
    border-radius: 8px;
    width: 85%;
    height: 35px;
    border: 1px solid #707070;
    padding-left: 10px;
}
.email-input-signIn::placeholder {
    transition: color 0.3s ease; /* Add a transition to the color property */
}
.email-input-signIn:focus {
    border: none;
    outline: 1px solid #707070;
}
.email-input-signIn:focus::placeholder {
    color: transparent;
}
.singup-Button-signIn {
    display: block;
    margin-left: auto;
<<<<<<< HEAD
    margin-right: 20px;
    margin-top: 5%;
    width: 87%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #2758bb;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.already-acc-signIn {
    text-align: center;
    margin-top: 8px;
}
.link-sign-signIn {
    margin-top: 8px;
    margin-left: 5px;
    color: #154fc3;
    cursor: pointer;
    font-weight: bold;
}
.parent-acc-signIn {
    display: flex;
    justify-content: center;
}
.forgotPass-signIn {
    display: block;
    text-align: end;
    padding-right: 20px;
    margin-top: 10px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #154fc3;
}
@media (max-width: 700px) {
    .aboutSectionHeading-signIn {
        width: 100%;
        height: 80%;
    }
    .owner-title-signIn {
        font-size: 20px;
    }
    .OwnersSection-signIn {
        margin-left: 5%;
        font-size: 15px;
    }
    .hand-logo-signIn {
        margin-top: 1%;
        margin-left: auto;
        margin-right: 29%;
    }
    .LostPetsSection-signIn {
        display: flex;
        font-size: 15px;
        margin-left: 5%;
    }
    .aboutHeading-signIn {
        font-size: 30px;
    }
    .aboutDescription-signIn {
        font-size: 20px;
    }
}
=======
    margin-right: auto;
}
>>>>>>> ab8a3a9612708d140712e09aafe34ee5230db838
