
.parent{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: #c2e1fe;
}

.centerIt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSectionHeading{
    z-index: 10;
    background-color: white;
    width: 900px;
    height: 520px;
    display: flex;
    border-radius: 30px;
    justify-content: center;

}

.aboutHeading{
    margin-top: 50px;
    display: block;
    margin-left: 110px;
    color: #f6fdff;
    font-weight: 650;
}

.aboutSectionContainer{
    width: 600px;
    margin-left: -22px;
    display: inline-block;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    justify-content: flex-start;
    background-color: #2759bc;
    align-items: center;
    flex-direction: column;
  
}

.aboutDescription{
    color:#f6fdff;
    margin-top: 10px;
    display: block;
    margin-left: 125px;
}

.OwnersSection{
    width: 310px;
    height: 100px;
    margin-top: 80px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}

.HandLogo{
    display: flex;
    margin-left: 100px;
}
.ShareLogo{
    display: flex;
    margin-left: 85px;
}
.LostPetsSection{
    width: 310px;
    height: 100px;
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}
.signUpSectionContainer{
    width: 600px;
    margin-right: -24px;
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
    display: inline-block;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    flex-direction: column;
}
.signUpHeading{
    margin-top: 10px;
    color: #242424;
    font-weight: 790;
    cursor: default;
}
.waves{
    z-index: -1;
}
.logoAndSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.signUpLogo{
    color: black;
    background-color: black;
}
.EmailAndPasswordAndForgotPass{
    width: 100%;
    display: block;
}
.EmailHeading{
    margin-top: 10px;
    margin-left: 30px;

}
.EmailTextField{
    margin-top: 4px;
    border-radius: 300px;
    margin-left: 30px;

}
.PassHeading{
    margin-top: 10px;
    margin-left: 30px;
}
.PassTextField{
    margin-top: 4px;
    border-radius: 300px;
    margin-left: 30px;
}
.ForgotPassHeading{
    display: block;
    color: #2759bc;
    text-decoration: underline;
    float: right;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 40px;
}
.SeperatingLine{
    margin-top: 60px;
    width:380px;
    height: 1px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.DontHaveAnAccountContainer{
    width:380px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.DontHaveAnAccount{
    font-weight: 700;
}
.SignUp{
    text-decoration: underline;
    color:#2759bc;
    font-weight: 700;
}

.signInButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}